.button {
    -fx-background-color: #22C55E;
    -fx-text-fill: white;
    -fx-font-family: "Nunito";
    -fx-font-size: 12px;
    /*-fx-padding: 10px 20px;*/
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0; /* Bottom border */
    -fx-cursor: hand;
}
